include ./layout

block content
	div.container
		div.rows
			div.col-lg-12.col-sm-12
				h1 Add User
				form.form-horizontal
					div.form-group
						label.col-sm-2.control-label(for="inputEmail3") Name
						div.col-sm-10
							input.form-control#name(placeholder="name", type="text")
					
					div.form-group
						label.col-sm-2.control-label(for="inputEmail3") Age
						div.col-sm-10
							input.form-control#age(placeholder="Age：<200", type="text")
					
					div.form-group
						label.col-sm-2.control-label(for="inputEmail3") Sex
						div.col-sm-10
							input.form-control#sex(placeholder="Sex:M or F", type="text")
					
					div.form-group
						label.col-sm-2.control-label(for="inputEmail3") Telephone
						div.col-sm-10
							input.form-control#telephone(placeholder="Telephone:11桁数字", type="text")
					
					div.form-group
						label.col-sm-2.control-label(for="inputEmail3") PostNumber
						div.col-sm-10
							input.form-control#postNum(placeholder="PostNumber:7桁数字", type="text")
					
					div.form-group
						label.col-sm-2.control-label(for="inputEmail3") Address
						div.col-sm-10
							input.form-control#address(placeholder="Address", type="text")
			
					div.form-group
						div.col-sm-offset-2.col-sm-10
							button.btn.btn-default#addUser(type="submit") Submit
	script(src="/javascripts/list.js")
